---
---


@import "reset";

$text-font: 'Source Sans Pro', Georgia, serif;
$cultural-font: 'Source Code Pro', monospace;
$coder-font: 'Lobster Two', Helvetica, Arial, sans-serif;

$text-color: #555555;
$accent-color: #24C0EB;
$default-border: 1px solid #ccc;

body {
  width: 100%;
  height: 100%;
  min-width: 200px;
  text-align: left;
  color: $text-color;
  background-color: #0000;
}

.body_wrapper {
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header, .footer {
  a {
    text-decoration: none;
    color: $accent-color;
    font-weight: 300;
  }
  .logo {
    float:none;
  }
  .cultural {
    font: 40px $cultural-font;
  }
  .coder {
    font: 43px $coder-font;
  }
  .contacts {
    padding-top: 5px;
    padding-bottom: 15px;
    font: 16px $text-font;
    text-align: right;
    float:right;
    overflow: block;
  }

  overflow: visible;
}

.header {
  border-bottom: $default-border;
}

.footer {
  border-top: $default-border;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  padding-top: 75px;

  article {
    margin-bottom: 50px;
  }

  .lead {
    font: 20px $text-font;
    font-weight: 300;
    padding-bottom: 15px;
  }

  h1 {
    overflow: visible;
    font: 36px $text-font;
    line-height: 1;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 300;
  }

  p {
    font: 18px $text-font;
    line-height: 1.45;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .date {
    font: 16px $text-font;
    line-height: 1.45;
    font-weight: 300;
    padding-bottom: 40px;
  }

  sup { 
    vertical-align: top;
    position: relative; top: -0.5em;
  }

  blockquote { 
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 5px solid rgba($accent-color, 0.4);
    margin-left: 10px;
    p {
      padding-bottom: 0px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    h3 {
      margin-top: 0px;
      padding-left: 10%;
      width: 90%;
      text-align: right;
      font: 17px $text-font;
      font-weight: 300;
    }
  }

  a {
    color: $accent-color;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: 300;
  }

  a:hover {
    text-decoration: none;
  }

  .footnotes {
    p {
      font: 16px $text-font;
    }
  }

}
