---
---


@import "reset";

$text-font: 'Lora', serif;

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  text-align: left;
  color: #666666;
}
h1 {
  overflow: visible;
  margin-left: 0%;
  font: 40px $text-font;
}
h2 {
  margin-left: 10%;
  font: 18px $text-font;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #24C0EB;
}
.content {
  left: 20%;
  width: 60%;
  position: absolute;
  overflow: hidden;
}
