{% for post in site.posts %}
<article>
    <h1>
		<a href="{{ site.deployurl }}{{ post.url }}" class="{% if forloop.index0 != 0 %}lighter{% endif %}">
			{{ post.title }}
		</a>
	</h1>

    {% if forloop.index0 == 0 %}
        {{ post.content }}
    {% elsif post.directlink == null %}
    <div class="lead">
        {{ post.description }}
    </div>
    {% endif %}

    <a href="{{ site.deployurl }}{{ post.url }}">
    <div class="date">Published on {{ post.date | date: "%-d/%m/%Y" }}.
    {% if post.update %}
    	Last update: {{ post.update | date: "%-d/%m/%Y" }}.
    {% endif %}
    </div>
    </a>
    {% if forloop.last == false %}
    <hr/>
    {% endif %} 
</article>
{% endfor %}
<!-- {% include footer.html %} -->
