---
layout: layout
---

<div class="content">
	<article>
	<h1>
	{% if page.directlink %}
		<a href="{{ page.directlink }}">
	{% else %}
		<a href="{{ site.deployurl }}{{ page.url }}">
    {% endif %}
			{{ page.title }}
		</a>
	</h1>
	    {{ content }}
    </article>
    <a href="{{ site.deployurl }}{{ page.url }}">
    <div class="date">Published on {{ page.date | date: "%-d/%m/%Y" }}.
    {% if page.update %}
        Last update: {{ page.update | date: "%-d/%m/%Y" }}.
    {% endif %}
    </div>
    </a>
    <div class="date">You can discuss the above by going to <a href="http://twitter.com/culturalcoder">@culturalcoder on Twitter</a>. <br/>You can also subscribe to <a href="{{ site.url }}/atom.xml">RSS feed</a>.</div>
</div>
